<!-- <ion-header [translucent]="true">
  <ion-toolbar  color="primary">

      <ion-buttons slot="secondary">
      
        <ion-button>
          <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- ================================ -->
 <!-- @if(page == 'ambiente_') {
    <ion-buttons slot="start">
      <ion-button (click)="routerLink('inspecao')">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  }@else if(page == 'images') {
    <ion-buttons slot="start">
      <ion-button (click)="routerLink('environment-list')">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  } -->
    <!-- ================================ -->
    <!-- padrao da navbar -->
    <ion-title>{{page | uppercase}}</ion-title>
    @if (isModal) {
      <ion-buttons slot="start">
        <!-- dismiss buttom modal -->
        <ion-button (click)="dismissModal()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      }
      @else {
       <ion-buttons slot="start">
        <ion-back-button *ngIf="backButton" defaultHref="backButton"></ion-back-button>
       </ion-buttons> 
      <ion-buttons slot="end"> 
        <!-- back-Button -->
        <img [src]="photoUrl" class="photoUrl"/>
        <ion-button (click)="logOut()">
          <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      }
  </ion-toolbar>
</ion-header>