<app-header [page]="title"></app-header>

<ion-content [fullscreen]="true" >
  <div class=" list-profile">
    <h1>Olha {{uidInspection}}!</h1>
 
 <ion-list>  
   <ion-item-sliding  *ngFor="let item of environments">
     <ion-item>
       <ion-buttons slot="end">
         <ion-icon name="arrow-forward-outline" color="medium" slot="icon-only"></ion-icon>
       </ion-buttons>
       <ion-label>{{item.name}}</ion-label>
     </ion-item>
       <!-- === Options === -->
       <ion-item-options>
         <!-- Editar -->
       <ion-item-option (click)="addUpdateEnvironment(item, this.uidInspection)" >
         <ion-icon class="option-btn" name="create-outline"></ion-icon>
       </ion-item-option>
       <!-- Deletar -->
       <ion-item-option color="danger" side="start" (click)="confirmDeleteEnvironment(item)">
         <ion-icon class="option-btn" name="trash-outline"></ion-icon>
       </ion-item-option>
     </ion-item-options>
   </ion-item-sliding>
  
 </ion-list>
 
 </div>

  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addUpdateEnvironment(undefined, this.uidInspection)" color="success">
      <ion-icon name="add-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
