.image-icon{
    font-size: 100px;
    opacity: 30%;
}

ion-avatar {
    margin: 0 auto;
    padding: 7px;
    width: 64px !important;
    height: 64px !important;
    --border-radius: 8px !important;
    
}