<app-header [page]="title" [isModal]="true"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
    <!-- name -->
    <ion-item>
      <ion-input label="Name" labelPlacement="floating"  formControlName="name" type="text"></ion-input>
    </ion-item>
    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">Um nome é requerido!</div>
      <div *ngIf="form.controls.name.errors?.['minLenght']">Qtd minimo é 0.</div>
    </div>
  
    <br>
    <ion-button block color="primary" type="submit" [disabled]="form.invalid">
      {{environment ? 'Actualize Inspection':'Add Inspection'}} 
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
