<app-header [page]="title"></app-header>

<ion-content [fullscreen]="true" >
  <div class="ion-padding">
    <h1>Olha {{title}}!</h1>
    
    @for (item of inspections; track $index) {
      <ion-item>
        <ion-label>{{item.nome}}</ion-label>
      </ion-item>
    }
    
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="editEnvironment()">
      <ion-icon name="add-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
